@use "purecss-sass/vendor/assets/stylesheets/purecss";
@import "./color-palette";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
html {
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}
h1 {
  font-weight: 600;
  font-size: 3em;
}
p {
  font-family: "Montserrat", sans-serif;
  color: var(--pure-primary);
}
body {
  background-color: var(--pure-neutral-light);
}
