---
// import { Image } from "astro:assets";
import Testimage from "../images/test.svg";
---

<div class="block">
  <div class="block-bg">
    <Testimage />
  </div>
  <div class="block-text">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non tellus
      quis lectus mollis bibendum nec sed mauris. Aliquam erat volutpat. Nulla
      id augue lobortis odio eleifend varius. Vestibulum mauris tortor, ornare
      eget ultricies et, commodo sagittis dolor. Sed non rutrum magna. Sed ut
      mattis tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Fusce non tellus quis lectus mollis bibendum nec sed mauris. Aliquam erat
      volutpat. Nulla id augue lobortis odio eleifend varius. Vestibulum mauris
      tortor, ornare eget ultricies et, commodo sagittis dolor. Sed non rutrum
      magna. Sed ut mattis tellus.
    </p>
  </div>
</div>
<style lang="scss">
  .block {
    position: relative;
  }

  .block-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  .block-text {
    position: relative;
    z-index: 2;
    padding: 10rem;
  }

  .block-bg svg {
    fill: grey;
    width: 100%;
    height: 100%;
  }
</style>
