---

---

<main id="faq" class="section-wrapper">
  <section class="section-content">
    <div class="headline-wrapper">
      <h1 class="">
        <span class="dark">Find the answers<br /></span>
        <span class="white">to your questions</span>
      </h1>
    </div>
    <div class="faq-wrapper">
      <div class="faq">
        <div class="question-header">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather"
            ><line x1="12" y1="5" x2="12" y2="19" class="faq-btn"></line>
            <line x1="5" y1="12" x2="19" y2="12" class="faq-btn"></line></svg
          >
          <h5 class="question">
            We have a Facebook page. Why do we need a professional website?
          </h5>
        </div>
        <div class="question-content">
          <h5 class="answer">
            Relying solely on a social media platform is a bit like building a
            house on rented land - you don’t actually own the property, and the
            landlord can change the rules at any time. Having a professional
            website shows your organisation is established and professional.
          </h5>
        </div>
      </div>
      <div class="faq">
        <div class="question-header">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather"
            ><line x1="12" y1="5" x2="12" y2="19" class="faq-btn"></line>
            <line x1="5" y1="12" x2="19" y2="12" class="faq-btn"></line></svg
          >
          <h5 class="question">
            Why can’t I just do it myself using a website builder?
          </h5>
        </div>
        <div class="question-content">
          <h5 class="answer">
            You absolutely can build your own website using tools like
            Squarespace, Wix, or Shopify.<br />However, the "DIY vs.
            Professional" debate isn't just about whether you can do it - it’s
            about the opportunity cost and the invisible technical gaps.
            Building a decent website yourself typically takes 40 to 100 hours
            of learning, troubleshooting, and design.<br />Also, many website
            builders are "closed systems. If you want to retrieve your
            information and move elsewhere, you often can't just export your
            site.
          </h5>
        </div>
      </div>
      <div class="faq">
        <div class="question-header">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather"
            ><line x1="12" y1="5" x2="12" y2="19" class="faq-btn"></line>
            <line x1="5" y1="12" x2="19" y2="12" class="faq-btn"></line></svg
          >
          <h5 class="question">
            I have seen a website design I like. Can you build something similar
            for me?
          </h5>
        </div>
        <div class="question-content">
          <h5 class="answer">
            Absolutely! If you describe the website or share specific details
            about it, I can identify and replicate the layout, reverse-engineer
            its features and match its fonts and colours.
          </h5>
        </div>
      </div>
      <div class="faq">
        <div class="question-header">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather"
            ><line x1="12" y1="5" x2="12" y2="19" class="faq-btn"></line>
            <line x1="5" y1="12" x2="19" y2="12" class="faq-btn"></line></svg
          >
          <h5 class="question">
            What is the cost of designing and building a modern website?
          </h5>
        </div>
        <div class="question-content">
          <h5 class="answer">
            When hiring a professional to build a modern, bespoke website for
            you, you are paying for expertise and time.<br />The cost will
            depend entirely on whether you are building a simple digital
            business card or a high-performance piece of online real estate.<br
            /> A small club website might cost around $1000, whereas one with added
            functionality, like a membership signup system, might cost proportionately
            more.
          </h5>
        </div>
      </div>
      <div class="faq">
        <div class="question-header">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather"
            ><line x1="12" y1="5" x2="12" y2="19" class="faq-btn"></line>
            <line x1="5" y1="12" x2="19" y2="12" class="faq-btn"></line></svg
          >
          <h5 class="question">
            How long does it take to complete a typical project?
          </h5>
        </div>
        <div class="question-content">
          <h5 class="answer">
            Typically, a one-page website takes 1 to 2 weeks to complete,
            although I have built some faster than that.
            <br />A website with 6 to 8 pages normally takes 4 to 6 weeks to go
            live. However, in practice, factors like the content bottleneck
            (text and photos not yet available) or custom features may extend
            the timeline.
          </h5>
        </div>
      </div>
      <div class="faq">
        <div class="question-header">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather"
            ><line x1="12" y1="5" x2="12" y2="19" class="faq-btn"></line>
            <line x1="5" y1="12" x2="19" y2="12" class="faq-btn"></line></svg
          >
          <h5 class="question">What content do I need to provide?</h5>
        </div>
        <div class="question-content">
          <h5 class="answer">
            Essentially two things – the words and the assets.<br />The words
            include both text for the pages and things like captions for photos.<br
            />The assets include good quality photos and documents such as
            membership application forms or policies.
          </h5>
        </div>
      </div>
      <div class="faq">
        <div class="question-header">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather"
            ><line x1="12" y1="5" x2="12" y2="19" class="faq-btn"></line>
            <line x1="5" y1="12" x2="19" y2="12" class="faq-btn"></line></svg
          >
          <h5 class="question">
            Do you offer support and maintenance after launch?
          </h5>
        </div>
        <div class="question-content">
          <h5 class="answer">
            All projects include free support and maintenance for a short period
            to fix any bugs or issues that may arise immediately after launch.<br
            />
            Following this, a support and maintenance package will be quoted for separately.
            This includes content updates, plugin updates, site backups, feature enhancements
            and performance tuning.
          </h5>
        </div>
      </div>
      <div class="faq">
        <div class="question-header">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather"
            ><line x1="12" y1="5" x2="12" y2="19" class="faq-btn"></line>
            <line x1="5" y1="12" x2="19" y2="12" class="faq-btn"></line></svg
          >
          <h5 class="question">Will my information be safe?</h5>
        </div>
        <div class="question-content">
          <h5 class="answer">
            Website security is no longer a "luxury" feature—it is a standard
            requirement.<br />While no system on the internet is 100%
            unhackable, a modern professional website is significantly more
            secure than a Facebook page.<br />All Mart.I.N’s websites include an
            SSL Certificate (HTTPS). This creates an encrypted "tunnel" between
            your visitor's browser and your server to ensure privacy.
          </h5>
        </div>
      </div>
    </div>
  </section>
</main>

<style lang="scss">
  .section-wrapper {
    background: var(--pure-accent-teal);
    padding-bottom: 4em;
  }
  .section-content {
    width: 80%;
    margin: auto;
  }

  .headline-wrapper {
    display: flex;
    margin-bottom: 1em;
    margin-top: -5px;
    padding-top: 2em;
    transition: all 0.5s;
    & h1 {
      font-weight: 700;
      font-size: 4em;
      font-style: normal;
      line-height: 1.4em;
    }
  }
  .white {
    color: var(--pure-neutral-light);
  }
  .dark {
    color: var(--pure-secondary);
  }
  .faq {
    // opacity: 0;
  }
  .question-header {
    font-size: 1.2em;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    outline: none;
    text-align: left;
    width: 100%;
    > svg {
      align-self: center;
    }
    & h5 {
      margin-left: 0.5em;
      font-family: "Montserrat", sans-serif;
    }
  }
  .faq .question-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  .faq.active .question-content {
    max-height: 500px;
  }
  .faq.active .question-header > svg {
    transform: rotate(45deg);
    transition: transform 0.3s ease;
  }
  h5.answer {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    font-weight: normal;
    margin-top: 0.5em;
    color: var(--pure-neutral-light);
    line-height: 1.5em;
    // display: none;
    // & .active {
    //   display: block;
    // }
  }
</style>
<script>
  import { onScroll, animate, stagger } from "animejs";
  function animateFAQ() {
    animate(".faq", {
      y: [50, 0],
      opacity: [0, 1],
      // scale: [0, 1],
      // ease: "InOutExpo",
      delay: stagger(400, {
        start: 100,
      }),
      autoplay: onScroll({
        sync: "play play play reset",
        enter: "max bottom",
        leave: "min top",
      }),
    });
  }
  animateFAQ();

  // // FAQ Accordion
  document.addEventListener("click", (e) => {
    const button = (e.target as Element).closest(".question-header");
    if (button) {
      const accordionItem = button.closest(".faq");
      console.log("closest faq: ", accordionItem);
      console.log(button);
      const allItems = document.querySelectorAll(".faq");

      allItems.forEach((item) => {
        if (item !== accordionItem) {
          item.classList.remove("active");
        }
      });

      accordionItem.classList.toggle("active");
      console.log(accordionItem.classList);
    }
  });
</script>
