---

---

<main id="faq" class="section-wrapper">
  <section class="section-content">
    <div class="headline-wrapper">
      <h1 class="">
        <span class="dark">Find the answers<br /></span>
        <span class="white">to your questions</span>
      </h1>
    </div>
    <div class="question" style="">
      <div class="js-accordion-btn question--header svelte-1knvpha">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-plus svelte-1knvpha"
          ><line x1="12" y1="5" x2="12" y2="19" class="svelte-1knvpha"
          ></line><line x1="5" y1="12" x2="19" y2="12" class="svelte-1knvpha"
          ></line></svg
        >
        <h5 class="svelte-1knvpha">What can I validate?</h5>
      </div>
      <div class="question--content svelte-1knvpha">
        <h5 class="">
          You have access to over 100 validation modules ranging from a simple
          duplicate check, “no contact allowed” checks (Robinson/Nix
          list/Reservasjonsregister), active e-mail and telephone check to more
          advanced checks towards public registries and scores using advanced
          algorithms.
        </h5>
      </div>
    </div>
  </section>
</main>

<style lang="scss">
  .section-wrapper {
    background: var(--pure-accent-teal);
  }
  .section-content {
    width: 80%;
    margin: auto;
  }

  .headline-wrapper {
    display: flex;
    margin-bottom: 1em;
    margin-top: -5px;
    padding-top: 2em;
    transition: all 0.5s;
    & h1 {
      font-weight: 700;
      font-size: 4em;
      font-style: normal;
      line-height: 1.4em;
    }
  }
  .white {
    color: var(--pure-neutral-light);
  }
  .dark {
    color: var(--pure-secondary);
  }
</style>
