---

---

<main id="faq" class="section-wrapper">
  <section class="section-content">
    <div class="headline-wrapper">
      <h1 class="">
        <span class="dark">Find the answers<br /></span>
        <span class="white">to your questions</span>
      </h1>
    </div>
    <div class="faq-wrapper">
      <div class="faq">
        <div class="question-header">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather"
            ><line x1="12" y1="5" x2="12" y2="19" class="faq-btn"></line>
            <line x1="5" y1="12" x2="19" y2="12" class="faq-btn"></line></svg
          >
          <h5 class="question">First Question</h5>
        </div>
        <div class="question-content">
          <h5 class="answer">Detailed answer to question 1.</h5>
        </div>
      </div>
      <div class="faq">
        <div class="question-header">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather"
            ><line x1="12" y1="5" x2="12" y2="19" class="faq-btn"></line>
            <line x1="5" y1="12" x2="19" y2="12" class="faq-btn"></line></svg
          >
          <h5 class="question">Second Question</h5>
        </div>
        <div class="question-content">
          <h5 class="answer">Detailed answer to question 2.</h5>
        </div>
      </div>
      <div class="faq">
        <div class="question-header">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather"
            ><line x1="12" y1="5" x2="12" y2="19" class="faq-btn"></line>
            <line x1="5" y1="12" x2="19" y2="12" class="faq-btn"></line></svg
          >
          <h5 class="question">Third Question</h5>
        </div>
        <div class="question-content">
          <h5 class="answer">Detailed answer to question 3.</h5>
        </div>
      </div>
      <div class="faq">
        <div class="question-header">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather"
            ><line x1="12" y1="5" x2="12" y2="19" class="faq-btn"></line>
            <line x1="5" y1="12" x2="19" y2="12" class="faq-btn"></line></svg
          >
          <h5 class="question">Fourth Question</h5>
        </div>
        <div class="question-content">
          <h5 class="answer">Detailed answer to question 4.</h5>
        </div>
      </div>
      <div class="faq">
        <div class="question-header">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather"
            ><line x1="12" y1="5" x2="12" y2="19" class="faq-btn"></line>
            <line x1="5" y1="12" x2="19" y2="12" class="faq-btn"></line></svg
          >
          <h5 class="question">FifthQuestion</h5>
        </div>
        <div class="question-content">
          <h5 class="answer">Detailed answer to question 5.</h5>
        </div>
      </div>
      <div class="faq">
        <div class="question-header">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather"
            ><line x1="12" y1="5" x2="12" y2="19" class="faq-btn"></line>
            <line x1="5" y1="12" x2="19" y2="12" class="faq-btn"></line></svg
          >
          <h5 class="question">Sixth Question</h5>
        </div>
        <div class="question-content">
          <h5 class="answer">Detailed answer to question 6.</h5>
        </div>
      </div>
    </div>
  </section>
</main>

<style lang="scss">
  .section-wrapper {
    background: var(--pure-accent-teal);
    padding-bottom: 4em;
  }
  .section-content {
    width: 80%;
    margin: auto;
  }

  .headline-wrapper {
    display: flex;
    margin-bottom: 1em;
    margin-top: -5px;
    padding-top: 2em;
    transition: all 0.5s;
    & h1 {
      font-weight: 700;
      font-size: 4em;
      font-style: normal;
      line-height: 1.4em;
    }
  }
  .white {
    color: var(--pure-neutral-light);
  }
  .dark {
    color: var(--pure-secondary);
  }
  .faq {
    // opacity: 0;
  }
  .question-header {
    font-size: 1.2em;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    outline: none;
    text-align: left;
    width: 100%;
    > svg {
      align-self: center;
    }
    & h5 {
      margin-left: 0.5em;
      font-family: "Montserrat", sans-serif;
    }
  }
  .faq .question-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  .faq.active .question-content {
    max-height: 500px;
  }
  .faq.active .question-header > svg {
    transform: rotate(45deg);
    transition: transform 0.3s ease;
  }
  h5.answer {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    font-weight: normal;
    margin-top: 0.5em;
    color: var(--pure-neutral-light);
    line-height: 1.5em;
    // display: none;
    // & .active {
    //   display: block;
    // }
  }
</style>
<script>
  import { onScroll, animate, stagger } from "animejs";
  function animateFAQ() {
    animate(".faq", {
      y: [50, 0],
      opacity: [0, 1],
      // scale: [0, 1],
      // ease: "InOutExpo",
      delay: stagger(500, {
        start: 500,
      }),
      autoplay: onScroll({
        sync: "play pause pause reset",
        enter: "bottom-=50 top",
        leave: "top+=60 bottom",
      }),
    });
  }
  animateFAQ();

  // // FAQ Accordion
  document.addEventListener("click", (e) => {
    const button = (e.target as Element).closest(".question-header");
    if (button) {
      const accordionItem = button.closest(".faq");
      console.log("closest faq: ", accordionItem);
      console.log(button);
      const allItems = document.querySelectorAll(".faq");

      allItems.forEach((item) => {
        if (item !== accordionItem) {
          item.classList.remove("active");
        }
      });

      accordionItem.classList.toggle("active");
      console.log(accordionItem.classList);
    }
  });
</script>
