---
import Image from "astro/components/Image.astro";
import australia from "../images/australia-map-icon.svg";
import linkedin from "../images/linkedin.svg";
import facebook from "../images/facebook.svg";
// import mountain from "../images/mountain.svg";
---

<footer>
  <Image src={australia} alt="Australia Icon" />
  <p class="aus">Made with love in Australia</p>
  <div class="social">
    <Image src={linkedin} alt="linkedin" /><Image
      src={facebook}
      alt="facebook"
    />
  </div>
</footer>
<style lang="scss">
  footer {
    padding: 25px;
    text-align: center;
    min-height: 20vh;
    background-color: var(--pure-primary);
    & .social {
      display: flex;
      justify-content: center;
      & img {
        margin: 10px 40px;
      }
    }
    & p {
      color: var(--pure-neutral-light);
      &.aus {
        font-family: "Playfair Display, serif";
        font-size: 1.5em;
        font-style: oblique;
      }
    }
  }
</style>
